[2019-05-19 18:36] marcosschroh opened #2 "Tests against Schema Registry Server"
Now we have a mock Server to run the tests, but we should test againsts the `schema registry` as integration test. Probably the approach should be to have a `docker-compose` with the `schema-registry` and run the tests

[code]

[2019-05-23 19:24] marcosschroh commented on #2
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/10

[2019-05-23 19:24] #2 closed

[2019-05-29 08:37] marcosschroh opened #11 "Add missing API calls in SchemaRegistryClient"
Implement missing `API` calls to `Schema Registry Server`.

We are missing:

## Subjects

[code]

## Config

[code]

Each endpoint is documented [here](https://docs.confluent.io/current/schema-registry/develop/api.html)

[2019-07-17 14:46] marcosschroh opened #20 "Mypy checks"

[2019-07-19 11:29] marcosschroh commented on #11
Config missing API calls now are supported with the last urls refactor.

Now the missing calls are:

[code]

[2019-07-22 12:42] marcosschroh commented on #11
related to https://github.com/marcosschroh/python-schema-registry-client/pull/23

[2019-07-22 12:42] #11 closed

[2019-07-23 09:43] mattjw opened #24 "Allow SchemaRegistryClient to be picklable"
### The problem

I'm using `python-schema-registry-client` to deserialise Avro messages received from a Kafka topic into an Apache Spark cluster. The Spark jobs are written with PySpark, which relies on objects being picklable for transport from the Spark driver to Spark executors.

The result is that the deserialised `SchemaRegistryClient` object is missing some properties that belonged to the or

[2019-07-23 09:49] mattjw commented on #24
I considered implementing a fix, but realised there are a few directions to take, so thought I'd open this issue for discussion before writing anything, and see if there is interest in this change.

A few possible solutions...

- Refactor the class to not use `requests.Session` and persist the settings in some other way. Still use `requests` to issue the requests.
- Use `requests.Session` via comp

[2019-07-23 21:16] marcosschroh commented on #24
Hi @mattjw

I think the second options is faster and easy to implement. But if you create an instance and the first request is made meaning that a `Session` object was created and then you want to pickle the `SchemaRegistryClient` you will have the same problem, correct?

[2019-07-23 21:18] marcosschroh commented on #20
related with https://github.com/marcosschroh/python-schema-registry-client/pull/25

To run the `type` checks we should execute: `mypy schema_registry/ --ignore-missing-imports`

Still we have to solve a few ones:

[code]

[2019-07-24 21:25] marcosschroh commented on #24
I have released a new https://github.com/marcosschroh/async-python-schema-registry-client which is the same project as this but `async`. The `Async Client` has something similar that you said, except the `session` is created when `__iniit__` is called.

[2019-07-28 22:30] mattjw commented on #24
Yes that's true. It means picklability would depend on the state of the object. So not a complete fix.

Interesting! Thanks for open sourcing that. I will take a look!

[2019-08-01 21:45] melchoir55 opened #26 "support for complex schema"
It appears as if the library does not support complex avro schema. That is, schema which contain multiple classes referencing each other.

Take the following avro schema, for example:

[code]
The above has a `Customer` who has embedded `Order` objects. Am I wrong in that this library will not allow a developer to work with a schema like this?

[2019-08-01 23:24] marcosschroh commented on #26
Hi @melchoir55

I would say that this is not the correct way to register a `nested Avro schema`

I would expect something like:

[code]

With the approach will be possible to register the schema in the `Schema Registry`. For serialization a record example could be:

[code]

and would be possible to use it in `Faust` creating two classes, like this example: https://faust.readthedocs.io/en/latest/us

[2019-08-01 23:55] melchoir55 commented on #26
I see what you're saying. The real problem here is that it doesn't allow you do describe circular relationships. For example maybe `Account` embeds `Transfer` and the reverse is also true. Normally in Avro you handle this by describing schema across files, I just collapsed it into one file for convenience.

It also doesn't let you reuse small parts of schema in multiple contexts. You lose the comp

[2019-08-26 08:05] marcosschroh commented on #24
Hi @mattjw , any updates on this? What do oyou think about the `async` client?

[2019-10-02 13:53] marcosschroh opened #27 "Integrate with dataclasses-avroschema"
When [dataclasses-avroschema](https://github.com/marcosschroh/dataclasses-avroschema) get stable, we could integrate with it and generate the avro schemas automatically instead of passing them through the code and being hardcoded.

[2019-10-28 10:48] alex3165 opened #29 "Schema version not always in schema"
**Describe the bug**
https://github.com/marcosschroh/python-schema-registry-client/blob/master/schema_registry/client/client.py#L340 assume version is a property in schema

**To Reproduce**
[code]
Running this throw an error:
[code]

I think this is because there is no `version` property in my schema and the library assume there should be

[2019-11-01 18:15] volker48 opened #30 "fastavro parsed schemas"
**Describe the bug**
I've encountered a fastavro schema parsing related bug.

If data is serialized in one process (process A) then deserialized in another (process B) complex schemas will fail to deserialized because of global state in fastavro.

Process A calling `encode_record_with_schema` will trigger a new schema to be registered which includes the `__fastavro_parsed` field. When process B fe

[2019-11-01 21:17] marcosschroh commented on #29
hi, thank you for reporting it! I will take a look.

[2019-11-01 21:19] marcosschroh commented on #30
hi, thank you for reporting it! I will take a look. Also, be my guest to send a `PR` if you want.

[2019-11-02 12:17] #30 closed

[2019-11-02 15:09] marcosschroh commented on #29
Hi @alex3165,

I am taking a look the code snippet that you wrote above, and I think you are overriding the `schema` module with tha `schema` variable.

[code]

Sorry, for the confusion. Can you check this please?

Maybe we should rename the module `schema` to `schemas`.

[2019-11-13 12:50] marcosschroh commented on #29
Any updates @alex3165 ?

[2019-11-15 10:29] krejcmat opened #33 "Support of Faust 1.9.0"
The latest version of **python-schema-registry-client** supports faust<=1.8.1. Would be great to support Faust 1.9.0 since there are crucial bugfixes.

[2019-11-15 13:31] marcosschroh commented on #33
Hi @krejcmat

Yes, I agree. I will update the library to use the latest version of `faust`.

[2019-11-16 14:00] marcosschroh commented on #33
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/34

[2019-11-16 14:00] #33 closed

[2019-11-18 08:14] matrixise opened #35 "Support AsyncIO, with aiohttp"
Currently, if we want to use your library with asyncio, we need to execute it with loop.run_in_executor, and that solution will use a ThreadPoolExecutor, not really interesting.

Please, could you consider to add an asynchronous part with the aiohttp's client?

Thank you.

[2019-11-18 09:15] marcosschroh commented on #35
Hi @matrixise

I have created another project to work with `asyncio` that uses `requests-async`: https://github.com/marcosschroh/async-python-schema-registry-client

[2019-11-18 14:30] marcosschroh commented on #29
Is not a bug in the library. In the example given  `schema` is `SchemaVersion` and only have 4 attributes: `subject`, `schema_id`, `schema` and `version`.

The module `schema_registry.client.schema` could be renamed to `schema_registry.client.schemas` to avoid confusion.

[2019-11-18 14:30] #29 closed

[2019-11-19 15:53] #20 closed

[2020-02-13 20:12] m0baxter opened #40 "Duplication of schemas, addition of "-key" or "-value" to subjects"
Regardless of whether a schema is already in the registry a new one with `"-key"` or `"-value"` is created by serializers.

I was able to fix this by changing this line

https://github.com/marcosschroh/python-schema-registry-client/blob/a0528cb85474e428ca3c68cb8491c3c1c8f68846/schema_registry/serializers/message_serializer.py#L79

I am not sure it this is the intended behaviour, it took me a while

[2020-02-13 22:41] marcosschroh commented on #40
Hi @m0baxter

It was intended. According to the `schema registry` [documentation](https://docs.confluent.io/3.2.2/schema-registry/docs/api.html#post--subjects-(string-%20subject)-versions) you can register the same schema multiple times under the same subject or not and the `schema_id` will be always the same. So, I think it should not be a problem. Can you see multiple schemas created inside the

[2020-02-13 22:42] #35 closed

[2020-02-13 22:48] m0baxter commented on #40
I just changed it to
[code]
to stop it from creating more subjects. I could have just as easily commented it out I think.

The problem is that it was creating multiple subjects. For example I registered "testing" and it would register a second subject "testing-values".

I think this is happening due to the fact that `schema_name_to_id` is initially an empty `dict` it doesn't look for existing subj

[2020-02-14 00:05] marcosschroh commented on #40
Oh, I understand now.

So, a flow could be:

1. You register a schema under a specific subject (let's say `my-subject`) using an instance of `SchemaRegistryClient` (or the schema was already present)
2. With the same schema you call the `message_serializer`, and the `mesage_serializer` use `my-subject-value` or `my-subject-key` according to the `is_key` keyword, and registers the same schema under

[2020-02-14 14:04] m0baxter commented on #40
Sorry if I wasn't being clear about the use case, your description matches what I am attempting to do so we are on the same page now at least.

your solution sounds correct to me.

Also reading the documentation you linked to seems to imply that it `my-subject`, `my-subject-key`, and `my-subject-value` would all point to the same schema (have the same end point in `/schemas/ids/<Ischema_id>`) so i

[2020-02-14 15:48] marcosschroh commented on #40
cool! Do you want to send a `PR`?

[2020-02-19 18:30] marcosschroh commented on #40
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/41

[2020-02-19 18:30] #40 closed

[2020-03-16 12:37] krejcmat opened #44 "Update on recent Faust version"
I have tried the python-schema-registry-client with latest Faust v1.10.3 and seems it is not compatible.
Last compatible version of Faust seems to be v1.10.0. From that version, Faust is crashing on startup
[code]

[2020-03-16 18:08] marcosschroh commented on #44
Hi @krejcmat

Thanks for reporting the issue. The requirement is `faust<=1.9.0`. I will try to update the library in order to use the latest `faust` version. Can you share the code that you were trying to execute?

[2020-03-18 19:38] krejcmat commented on #44
Hi @marcosschroh,
it is related to Model optimization [described in ](https://github.com/robinhood/faust/compare/v1.9.0...v1.10.0#diff-74df3e650912486104daef2fd7518b53R75)

specifically, the error I have posted above is related to [this](https://github.com/robinhood/faust/compare/v1.9.0...v1.10.0#diff-74df3e650912486104daef2fd7518b53R116).
It is a bit naming confusion because I named "Stream" one

[2020-03-18 19:41] krejcmat commented on #44
Last compatible version is 1.9.0

[2020-03-25 17:12] marcosschroh commented on #44
Hi @krejcmat ,

I have checked with the latest faust version (`1.10.4`) and the library seems to work properly. Here I have a project [example](https://github.com/marcosschroh/faust-docker-compose-example).

Please take a look the [UserModel](https://github.com/marcosschroh/faust-docker-compose-example/blob/master/faust-project/example/users/models.py) which is using `avro_user_serializer` (`Faust

[2020-03-25 17:36] krejcmat commented on #44
Yes, the library works if is not used the scenario I posted above. Where the Model has a variable of the type of another Model. I had this case in my codebase where I am using your plugin and until  v1.9.0 it worked. I cannot tell if this issue has to be solved in this plugin or in Faust.
I work around it by overloading to_representation method.
[code]

[2020-03-28 18:20] marcosschroh commented on #44
Make sense what you are doing because `faust` changed the `_BUILD_asdict_field`. Here is the diff: [version 1.9.0](https://github.com/robinhood/faust/blame/v1.9.0/faust/models/record.py#L594) and [current version](https://github.com/robinhood/faust/blame/38d61a78c76a096597421a8e9db2878d4381dd6a/faust/models/record.py#L564).

I have created a [PR](https://github.com/marcosschroh/python-schema-regis

[2020-03-29 11:25] marcosschroh commented on #44
fixed by https://github.com/marcosschroh/python-schema-registry-client/pull/45

[2020-03-29 11:25] #44 closed

[2020-03-30 06:19] krejcmat commented on #44
That is great. Thanks

[2020-04-04 11:50] arkanmgerges opened #46 "Base url is overwritten"
**Describe the bug**
client = SchemaRegistryClient('http://localhost:8082/api/schema-registry/')
Will not work as a base URL,

https://swagger.io/docs/specification/2-0/api-host-and-base-path/

I ended to do the following:

from schema_registry.client import SchemaRegistryClient, schema
from schema_registry.client.urls import UrlManager
from schema_registry.serializers import MessageSerializer
fro

[2020-04-11 15:35] marcosschroh commented on #46
Thanks @arkanmgerges . I will try to fox this. A PR is welcome as well.

[2020-04-17 15:38] SRserves85 opened #47 "Importing MessageSerializer without Faust is Broken"
**Describe the bug**
When Importing the non-Faust `MessageSerializer`, I get Errors Related to the Faust Serializer

**To Reproduce**
1. I create a new virtualenv
2. `pip install python-schema-registry-client`
3. `from schema_registry.serializers.message_serializer import MessageSerializer`
4. Should Error Out with `AttributeError: 'NoneType' object has no attribute 'Codec'`

NOTE: Importing it th

[2020-04-17 16:58] SRserves85 commented on #47
Due to the restricted access to post PR's here is the fix I was going to apply to `schema_registry/serializers/__init__.py`:

[code]

[2020-04-17 17:42] marcosschroh commented on #46
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/48

[2020-04-17 17:42] #46 closed

[2020-04-17 17:47] marcosschroh commented on #47
Hi @SRserves85 ,

Thanks for reporting it. Question: what do you mean with restricted access to post PR's? Can't you send a `PR`?

[2020-04-17 20:36] SRserves85 commented on #47
Can you please add me as a contributor? I don't have access to post pr's for this repo, but am more then happy to contribute.

Also if you have anyone asking about using this for spark/making this pickleable, I wrote a custom version with minimal changes that is threadsafe (has to start new connections per thread). Happy to post my tiny rewrite of `SchemaRegistryClient` as well as an example since

[2020-04-17 20:41] SRserves85 commented on #24
In terms of using an Async object inside of a spark cluster, I usually find that even if Python deems the object "pickleable", the async stuff usually points to stuff the pickeled object doesn't have access to. I have been using the following "slightly changed" class to achieve my goals of integrating Confluent with `pyspark`. Sorry for how ghetto the changes actually are haha.

This class is almo

[2020-04-17 23:34] marcosschroh commented on #47
I am happy to receive your PRs. Seems that you are trying to push to the repository directely and that is not allowed.

 What you have to do:

1. Fork the repository
2. Create a branch and push (to your respository)
3. Create a pull request using the GitHub UI.

If we merge your PR you are automatically added as a contributor.

Let me know if you have any trubbles

[2020-04-18 12:58] marcosschroh commented on #46
Released in version [1.2.8](https://pypi.org/project/python-schema-registry-client/1.2.8/)

[2020-04-18 18:38] SRserves85 commented on #47
I did an have a PR up

[2020-04-20 14:56] marcosschroh commented on #47
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/49

[2020-04-20 14:56] #47 closed

[2020-04-20 16:17] m0baxter commented on #47
I think the fix broke it for people using faust. I am getting this error:

[2020-04-20 19:05] marcosschroh commented on #47
@SRserves85 Thanks for reporting it. I fixed it in version `1.2.10`

[2020-04-20 19:18] marcosschroh opened #51 "Add Integration tests with Faust"
An integration tests should run using `FaustSerializer` to be sure that the library is always up to date with Faust framework

[2020-04-21 15:28] martinpmsmith opened #52 "Add a flag to suppress the fastavro parsed maker."
First off great API it solves and issue I was having.  However I don't see a flag to turn off the generation of    , "__fastavro_parsed": True  .  This causes an issue if I try to pass the schema to an Avro serializer or deserializer.  I have a work around by simply removing text.

**Describe the solution you'd like**
I would like to see a Boolean on the get_schema call that gets passed to the fas

[2020-04-21 17:08] marcosschroh commented on #52
Hi @martinpmsmith ,

Thanks for reporting the issue. Maybe we could:

1. Add an extra method to the class `schema_registry.client.schema.AvroSchema` so you can get the parsed schema with/without the flag `__fastavro_parsed`?
2. Store the schema parsed without `__fastavro_parsed` directly.

So, with this any method that returns schema will have the same behaviour.

what do you think?

[2020-04-21 18:52] martinpmsmith commented on #52
Hi,

I was actually thinking an additional optional named parameter to the existing get_shema method set to True .   This way any existing code still works.

def get_schema(subject: str, version="latest", headers: dict = None, include_fastavro: bool = True) -> utils.SchemaVersion:
    """

Martin

[2020-04-21 19:40] marcosschroh commented on #52
Your solution will work, but it means that you need to include the functionality in the `get_schema` function to remove the `__fastavro_parsed`. If you go for option 2, existing code will work as before and also people could use a the new property of `schema_registry.client.schema.AvroSchema`. Maybe better with the example code:

[code]

Then, in your code you will use the `clean_schema` method.

[2020-04-21 20:17] martinpmsmith commented on #52
Ok I get your thinking and prefer your approach.

Martin

[2020-04-25 17:46] marcosschroh commented on #52
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/53

Now you can do:
[code]

[2020-04-25 17:46] #52 closed

[2020-04-25 21:21] martinpmsmith commented on #52
Noticed a typo on the documentation page https://marcosschroh.github.io/python-schema-registry-client/schemas/ <https://marcosschroh.github.io/python-schema-registry-client/schemas/>    flat schema has an n. Instead of an m.

Martin

[2020-04-26 01:22] marcosschroh commented on #52
Thanks! Fixed

[2020-04-30 15:10] vansimonsen opened #54 "Set timeout to schema-registry requests"
**Is your feature request related to a problem? Please describe.**
We can't specify a request time when we need to get or encode an schema

**Describe the solution you'd like**
Set from outside a timeout value to pass to internal request

[2020-04-30 16:32] marcosschroh commented on #54
Hi @vansimonsen

Ok. A few question to know the context: Are you having some issues with the Schema Registry Server and the response takes a lot of time? Are you using Faust?

[2020-04-30 20:19] vansimonsen commented on #54
Hi!
I have few Connection Errors trying to encode data with `schema_id` (less than 1%, at least).
I want to create different retry strategies, but I'd like have some control on how much every request could wait until Timeout. (If my strategy is well planned)
Related to faust, nop, I'm not using it.

Thanks in advance!

[2020-05-03 16:54] marcosschroh commented on #24
Hi @mattjw , @SRserves85

I did some work and I have created a [PR]() to make the `SchemaRegistryClient` picklable. We have released candidate `1.3.2rc1`, so, maybe you can tests with it and let me know.

[2020-05-04 19:14] marcosschroh commented on #54
Thanks. I will work on this feature.

[2020-05-06 12:59] marcosschroh commented on #24
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/56

[2020-05-06 12:59] #24 closed

[2020-05-06 17:08] marcosschroh commented on #54
Hi @vansimonsen ,

I have created a [PR](https://github.com/marcosschroh/python-schema-registry-client/pull/57). You can take a look. With this changes will be possible to set the `timeout` when the `SchemaRegistryClient` is instantiated or per method.

[2020-05-07 18:30] marcosschroh commented on #54
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/57. Released in version `1.4.0`

[2020-05-07 18:30] #54 closed

[2020-05-11 14:50] mattjw commented on #24
@marcosschroh I haven't had a chance to verify this (and possibly wont for a while), but wanted to say thanks for following this up! 🙇

[2020-05-18 14:26] vansimonsen commented on #54
Thanks a lot!
Sorry by absence

It's great to have this setting available, I reviewed and everything looks good.
Thanks again

[2020-06-30 18:18] sivasai-quartic opened #58 "How is it different from official repo (confluent_kafka)"
@marcosschroh  How is it different from official repo (confluent_kafka)

I'm able to import MessageSerializer obj from this

[code]
Any additional features are there?

Thanks

[2020-06-30 20:12] marcosschroh commented on #58
Hi @sivasai-quartic

Yes, you are right. The idea behind of `python-schema-registry-client` was creating a small library that only uses some specific features from `confluent_kafka`, so you do not have to install a big library to use only a few things.

Some points:

1. We are using the `MessageSerializer` which basically is the same as `confluent_kafka` `MessageSerializer`
2. There is a `Client`

[2020-07-03 16:03] #58 closed

[2020-07-09 23:27] jonatak opened #59 "Avro serialization might Failed in case Record contains another collection of Record"
Hello,

From what I read here:
https://github.com/marcosschroh/python-schema-registry-client/blob/f18d0929f45bd5e096150db614f3bbec28346557/schema_registry/serializers/faust_serializer.py#L50

I think the `clean_payload` doesn't handle this type of cases:

[code]

This could be fix with something like that:

[code]

[2020-07-10 12:33] marcosschroh commented on #59
HI @jonatak

Yes, I think you are correct. Also, would be nice to add support for all type of `Sequences`, `Mapping` and `Union` what do you think?

Types: `tuple`, `list`, `dict`, `collections.abc.Sequence`, `collections.abc.MutableSequence`, `collections.abc.Mapping`, `collections.abc.MutableMapping`, `typing.Union`

[2020-07-10 13:53] jonatak commented on #59
Hi @marcosschroh Yes, I agree, I might submit a PR during the weekend (I'm still playing with the libraries and few related others).

[2020-07-10 15:07] marcosschroh commented on #59
cool!! Sounds great!

[2020-07-14 18:05] #59 closed

[2020-08-07 21:28] com4 opened #65 "AttributeError: module 'httpx._config' has no attribute 'DEFAULT_POOL_LIMITS'"
**Describe the bug**
[code]
httpx is renaming "pool_limits" to just plain "limits". This internal config setting was renamed and breaks the schema registry client. See: https://github.com/encode/httpx/releases/tag/0.14.0

**To Reproduce**
running `./scripts/run_test` after a fresh install (or upgrade)

[2020-08-10 08:52] #65 closed

[2020-08-11 12:32] mgorsk1 opened #67 "SchemaRegistryClient fails to instantiate due to httpx changes"
**Describe the bug**

Failure to instantiate client:

[code]

It's most likely caused by changes in httpx library (particular version is not pinned in schema registry client deps)

https://github.com/encode/httpx/commit/f67e925f72166ac89c4ff430540173b5910ec315#diff-11c528b34fa1b897a86107c0a46b252f

Explicit downgrade httpx to 0.13.3 resolves this issue.

**To Reproduce**
Steps to reproduce the beh

[2020-08-11 19:31] marcosschroh commented on #67
Hi @mgorsk1

That is weird because this issue was fixed by @com4 in https://github.com/marcosschroh/python-schema-registry-client/pull/66

[2020-08-12 13:27] miandreu commented on #67
Same issue here @marcosschroh today, in our case we are using the 1.4.2 version but this shouldn't make any change

[2020-08-12 15:11] marcosschroh commented on #67
Yes, the version `1.4.2` has the fix for the new `httpx` release. Thanks @miandreu

[2020-08-12 15:54] com4 commented on #67
@mgorsk1 As Marcos points out, version 1.4.2 should fix your issue (i.e. https://github.com/marcosschroh/python-schema-registry-client/blob/master/schema_registry/client/client.py#L45 no longer references `httpx._config.DEFAULT_POOL_LIMITS`).

@miandreu The full traceback of your error and the output of  `python -mpip list | grep "python-schema-registry-client\|httpx"` might help narrow down where

[2020-08-13 13:53] forsberg opened #69 "Missing requests library in install_requires"
**Describe the bug**
The requests library is imported in `schema_registry/client/client.py` but is not listed as an install_requires in `setup.py`

**To Reproduce**
[code]

**Expected behavior**
Well, not a ModuleNotFoundError :-)

[2020-08-13 15:23] marcosschroh commented on #69
Thanks @forsberg . The `requests` requirement was installed through `httpx` but the library changed the `api` a few days ago. I will try to remove the `requests` requirements as well.

[2020-08-13 15:23] #67 closed

[2020-08-13 16:01] mgorsk1 commented on #67
Thanks, indeed version bump was enough. Sorry for the bother !

[2020-08-13 16:13] #69 closed

[2020-08-14 06:45] forsberg opened #72 "Accept header incorrect"
**Describe the bug**
The Accept header sent by python-schema-registry is incorrect. The library sends the following header (from [utils.py](https://github.com/marcosschroh/python-schema-registry-client/blob/master/schema_registry/client/utils.py):

`accept: application/vnd.schema_registry.v1+json, application/vnd.schema_registry+json, application/json`

However, if we look at the [Specification fo

[2020-08-14 09:28] #72 closed

[2020-08-27 05:31] Reapor-Yurnero opened #74 "Missing Argument is_key"
**Describe the bug**
In message_serializer.py,  both `encode_record_with_schema` and `encode_record_with_schema_id` claim to have the `is_key` argument in the docstring, however the function definition does not have `is_key` at all. I guess this is a missing implementation?
**To Reproduce**
N.A.

**Expected behavior**
N.A.

[2020-09-03 00:32] Reapor-Yurnero commented on #74
I think this is a problem existing for a long time. Surprised it's not discovered or solved and nobody is reacting to this issue though this repo is actively updated.

[2020-09-03 10:02] marcosschroh commented on #74
Hi @Reapor-Yurnero

Sorry for the delay. I will take a look into it!

[2020-09-07 10:18] marcosschroh commented on #74
@Reapor-Yurnero I have check the issue and the `docstrings` of both methods must be updated. The `is_key` should be removed. Also, the `doc` must be updated.

[2020-09-07 10:39] marcosschroh commented on #74
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/76

[2020-09-07 10:39] #74 closed

[2020-09-11 08:28] forsberg commented on #26
The registry does have something it calls schema references, which may or may not be what you're after:

https://docs.confluent.io/current/schema-registry/serdes-develop/index.html#referenced-schemas

[2020-09-11 08:52] forsberg opened #77 "Fastavro-parsed schema registered at schema registry"
**Describe the bug**
The library registers the schema after it has been parsed by fastavro, which will reformat the schema and add extra metadata.

**To Reproduce**
1. Register a schema using the library.
2. Inspect the schema in the schema registry.

**Expected behavior**
Exact same schema that was sent as argument to library was registered in schema registry.

If this is expected behaviour, an e

[2020-09-11 22:09] Reapor-Yurnero commented on #74
I'm glad to hear that. Thanks!

[2020-09-12 15:33] marcosschroh commented on #77
Thanks @forsberg. Make sense

[2020-09-12 15:33] #77 closed

[2020-09-18 13:21] #27 closed

[2020-10-12 07:17] venthur opened #82 "Please suport Schema References"
Confluent Platform 5.5.0 support [Schema References](https://docs.confluent.io/current/schema-registry/serdes-develop/index.html#schema-references), the ability of a schema to refer to other schemas.

[Here's](https://www.confluent.io/blog/multiple-event-types-in-the-same-kafka-topic/) a blog post that goes a bit into detail.

The schema you want to register contains a reference:

[code]
The json

[2020-10-13 15:43] marcosschroh commented on #82
Hi @venthur

Thanks for the suggestion. I will try to add this feature asap. PRs are welcome as wll

[2020-10-13 17:40] venthur commented on #82
This is somewhat related to https://github.com/fastavro/fastavro/issues/476, although AVRO itself does not allow for schema references that are not inlined within the schema itself. This seems to be a feature of Confluent Platform 5.5.0, specifically the Schema Registry. I just mention it here, as you're using fastavro internally.

[2020-11-16 17:00] jkgenser opened #86 "App doesn't start when using [faust] extras after migrating to faust-streaming"
**Describe the bug**
Installing this library with `[faust`] as an extra is problematic after migrating from `faust` to `faust-streaming` fork. The app does not start. Instead, I get a traceback like this just when trying to start the app:

[code]

**To Reproduce**
Install faust-streaming and this library with `[faust`] as extras and try to start the app.
**Expected behavior**
The app should contin

[2020-12-03 20:04] xgamer4 opened #87 "MessageSerializer.encode... functions not serializing proper Avro"
**Describe the bug**
The MessageSerializer.encode... functions don't output proper Avro. When serializing a record using MessageSerializer/FaustSerializer the binary doesn't conform to proper Avro, and isn't parsed properly when read back from something that isn't a MessageSerializer instance.

This is particularly problematic when using registry-schema with Faust, as the recommended Faust integra

[2020-12-07 14:57] #86 closed

[2020-12-09 20:17] xgamer4 commented on #87
Apparently Debezium also has the same behavior with a different tech stack, which makes me think this behavior is intentional - in which case it's not a bug.

My assumption - though I definitely don't know for sure - is that it's a form of single-object encoding to preserve a reference to the schema id in the registry. In which case, the specification does define a prepended header - the header is

[2020-12-10 16:14] xgamer4 commented on #87
Just noting that I found the documentation describing the format - it's the [Confluent Platform's Wire Format](https://docs.confluent.io/platform/current/schema-registry/serdes-develop/index.html#wire-format).

[2021-01-25 15:32] jsonbrooks opened #90 "No Async Message Serializer"
I can see a message serializer that uses the syncronous client, but not one that uses the async version.

[2021-01-26 11:07] marcosschroh commented on #90
you are correct @jsonbrooks . Would you like to send a `PR` and add it? we can discuss possible solutions and you can implement it. What do you think?

[2021-01-27 21:08] jsonbrooks commented on #90
I slapped together the following for my own purposes. It doesn't quite do everything yours does, as it's only exactly what I need, but feel free to copy it or some variation in:

`
class KafkaAvroSerializer:

    def __init__(self, schema_registry_host: str = 'localhost', schema_registry_port: int = 8081):
        self.reg_client = AsyncSchemaRegistryClient(url=f'{schema_registry_host}:{schema_reg

[2021-02-04 14:45] jsonbrooks opened #92 "AvroSchema init has invalid arg type"
Your AvroSchema class has an incorrect type on the "schema" arg. PyCharm complains about it.

[code]

should be:
[code]

[2021-02-04 20:31] jsonbrooks opened #93 "AsyncSchemaRegistryClient.register logs ERROR in normal operation"
When I call `AsyncSchemaRegistryClient.register` with a schema that's not registered yet, it logs with an "ERROR" level that it doesn't exist yet. This does not seem appropriate to me, since it's normal, expected operation. Can you change this to "INFO"

`ERROR    schema_registry.client.client:client.py:1011 Not found: 404`

[2021-02-05 14:38] marcosschroh commented on #90
Hi @jsonbrooks

Thanks for the proposal. I think that the new serializer (`AsyncSerializer`) should respect the same interface of the `MessageSerializer`, for example `register_schemas` should not be part of the new Serializer. Register schemas is a client responsibility. What I would like to have here is an `AsyncSerializer`, that does exactely the same as the `MessageSerializer` but `async`, hav

[2021-02-05 14:45] marcosschroh commented on #92
Thanks. You can send a PR with the fix. `mypy` will check it

[2021-02-05 14:53] marcosschroh commented on #93
Hi @jsonbrooks , you are completely correct. Do you want to send a PR with the fix?

[2021-02-26 07:40] PJ-Schulz commented on #93
I get the same error when I get the Avro schema from the registry and do the first dump with FaustSerializer.
On the first call, the serializer printed `Not found 404` , but not on the following ones.

Although the error is printed the at the first time, the message is serialised anyway.

[code]

How can I avoid the Error message?

[2021-02-26 10:21] marcosschroh commented on #93
@PJ-Schulz The error id because first we check whether the schema already exists. The error is related with a `404` (not found), so because the schema is was not registered, we do it. I will change the log level to `info`.

[2021-02-26 10:55] marcosschroh commented on #93
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/94

[2021-02-26 10:55] #93 closed

[2021-02-26 11:14] marcosschroh commented on #92
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/95

[2021-02-26 11:14] #92 closed

[2021-05-25 07:58] meherpravin opened #98 "Need a solution for Azure Event Hubs for Apache Kafka schema registry"
Faust-streaming application should access Azure Event Hubs for Apache Kafka schema registry.

**Describe the solution you'd like**
I would like to get SchemaRegistryClient for azure event hubs based on azure connection parameters.

[2021-05-25 08:58] marcosschroh commented on #98
Hi @meherpravin

Which are the `azure connection parameters`? Could you describe why you can not use the current implementation to connect to the `Schema Registry Server`?

[2021-05-25 10:10] meherpravin commented on #98
Hi @marcosschroh ,
We need to set additional connection parameters  like schema_group, connection string or credentials.
Kindly let me know If we have another solution to connect azure hubs schema registry in faust-streaming application.

I am trying to implement faust app as below.

SCHEMA_GROUP = << GROUP NAME OF THE SCHEMA >>
EVENTHUB_NAMESPACE = << Namespace >>
SCHEMA_REGISTRY_URL = "<namespac

[2021-07-06 07:32] Robospecta opened #99 "JSON Schema support"
**Is your feature request related to a problem? Please describe.**
I was wondering if support for JSON schemas was something you would be interested in having added? We are currently using confluent kafka and the schema registry to manage json schemas. We are using faust to process the data using the schema registry, and would love to be able to utilize and contribute to this library. Notably json

[2021-07-06 14:23] marcosschroh commented on #99
Hi @Robospecta,

I think is a good idea. Looking forward to see the `PR`.
I like the idea of having an abstract class and `AvroSchema` and `JsonSchema`:

[code]

We need to be aware that we need to refactor some methods in the `SchemaRegistryClients` from ` typing.Union[AvroSchema, str]` to ` typing.Union[AvroSchema, JsonSchema, str]

[code]

What do you think?

[2021-07-07 06:55] Robospecta commented on #99
Yep sounds good. That looks like what I had in mind. I'll keep you posted here on how I'm travelling. Feel free to give feedback before I submit a pull request if you see any areas in intermediate commits in my fork that you feel should be done differently.
https://github.com/Robospecta/python-schema-registry-client

[2021-08-25 08:33] marcosschroh commented on #99
I took a quick look @Robospecta and looking good!! Looking forward to see the PR!

[2021-09-01 08:56] marcosschroh commented on #99
Thanks @Robospecta !!

[2021-10-07 10:39] #99 closed

[2021-10-08 02:44] volker48 opened #103 "Cannot import MessageSerializer if Faust is not installed v1.9.0"
**Describe the bug**
If faust is not installed `Codec` is None and this code linked below attempts to inherit from None, which will not work https://github.com/marcosschroh/python-schema-registry-client/blob/master/schema_registry/serializers/faust_serializer.py#L14.

[code]

**To Reproduce**
Try and import MessageSerializer without having faust installed

**Expected behavior**
Should be able to i

[2021-10-08 14:19] volker48 commented on #103
I have a PR here that will fix the issue. https://github.com/marcosschroh/python-schema-registry-client/pull/104. Let me know if you would like it fixed in a different way this is the first idea I came up with.

[2021-10-14 14:38] #103 closed, assigned to nobody

[2021-10-27 12:38] pyerbiz opened #107 "WARNING: python-schema-registry-client 2.0.0 does not provide the extra 'avro'"
**Describe the bug**
I'm trying to make requirements.txt for my project.

**To Reproduce**
Steps to reproduce the behavior:

created a conda env with python 3.7
`conda create -n testreq1 python=3.7 -y`

make requirements.txt:
[code]

or without line 4 in above requirements file.

then run:
`pip install -r requirements.txt`

I get the warning
`WARNING: python-schema-registry-client 2.0.0 does not p

[2021-10-29 05:58] #107 closed, assigned to nobody

[2021-11-01 22:21] Irate-Walrus opened #108 "Faust Generic Serializer"
**Feature Request✨**
While I may be treating the package incorrectly, it appears that, by intention, there exists one serializer per schema. I was interested in a generic serializer that took any registered ``Record``/``AvroModel`` subclass and attempted to serialize/deserialize it.
Additionally the ability to register a specific schema to a confluent kafka topic value/key was desirable.

I quickl

[2021-11-12 09:30] abiodunjames opened #111 "Update httpx dependency"
In my project, I used one of the recent versions of `httpx` and `pytest-httpx`. To use this package, I have to downgrade the httpx dependencies to a much lower version because the python-schema-registry client uses `httpx>=0.14,<0.15`.   Could we update or upgrade this?

[2021-11-12 12:15] marcosschroh opened #113 "document new function get_schema_subject_versions"
The new function must be documented on

- https://marcosschroh.github.io/python-schema-registry-client/client/
- https://marcosschroh.github.io/python-schema-registry-client/schemaregistry_server/

[2021-11-15 10:24] marcosschroh commented on #111
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/114

[2021-11-15 10:24] #111 closed

[2021-11-24 15:49] marcosschroh commented on #90
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/102

[2021-11-24 15:49] #90 closed

[2021-12-13 13:35] thiromi opened #115 "AsyncSchemaRegistryClient is unable to handle concurrent requests"
**Describe the bug**

Related to https://github.com/encode/httpx/issues/1478, I'm getting this exception while using the same instance of `AsyncSchemaRegistryClient` in two different places, raising `httpx.RemoteProtocolError: can't handle event type ConnectionClosed when role=SERVER and state=SEND_RESPONSE`. The source code of the client is similar to the [example that shows how to reproduce the

[2022-01-05 20:19] Leem0sh opened #118 "schema_registry.client.errors.ClientError: Unable to get version of a schema"
**Describe the bug**
I've been trying to use your example with pydantic but whenever I'm trying to register the schema, I'm getting the same error over and over. Sadly I didn't really find much information about it so I'd like to ask you <3 What am I doing wrong?

Code:
[code]

I'm able to create simple but different schema via curl:

[code]

Using docker-compose.py

[code]

[2022-01-11 17:10] nesrine-bn opened #119 "Same id is assigned to different schemas"
When adding new schema registry, i faced the problem that the same schema id was assigned to two different schemas with absolutely different schemas and subject

[2022-01-19 13:41] dingobar opened #120 "Support for protobuf schemas"
**Is your feature request related to a problem? Please describe.**
In a Microsoft environment, protobuf is generally preferred to Avro and JSON Schema. It would be nice to be able to use this client with protobuf schemas as well!

**Describe the solution you'd like**
Implement the existing interfaces using protobuf as has already been done for avro and json schema.

[2022-02-02 11:08] marcosschroh commented on #115
Hi @thiromi

I think after merging this PR https://github.com/marcosschroh/python-schema-registry-client/pull/117 the issue will be solved

[2022-02-09 12:52] marcosschroh commented on #118
closing this because there is not issue at all

[2022-02-09 12:52] #118 closed

[2022-02-09 13:00] marcosschroh commented on #115
@thiromi can you check whether with the latest version this issue is fixed?

[2022-02-10 10:49] thiromi commented on #115
@marcosschroh I'll try it and let you know 👍

[2022-03-09 16:44] desharma12 opened #123 "How to login in scheme-registry-client, using api-key and secrete"
Hi,
I am using "python-schema-registry-client==2.2.2", I want to login in schema registry client, using "api-key" and "secrete", it is using basic-auth, like:

`client = SchemaRegistryClient(url='scheme-registry-example.com', api-key='xxxx', password='xxxx')` but this example is not working

there is some tutorial  for   "ca_location, cert_location, key_location", but i don't want to use ca.locati

[2022-03-29 17:03] bradydean commented on #115
@thiromi Are you using the same client object from different threads or asyncio tasks? Just curious as I'm about to start development using this library.

[2022-03-30 08:15] thiromi commented on #115
@bradydean I'm using the same client from asyncio tasks

[2022-03-30 14:10] NicoRLasso commented on #123
Hi @desharma12 did you solve this issue? because i have the same one

[2022-03-30 18:24] marcosschroh commented on #123
Hi,

Sorry for the delay. Can you try to pass the url as a `dict` like:

[code]

If this doesn’t work I will try to take a look asap.

[2022-03-30 18:29] NicoRLasso commented on #123
Hi @marcosschroh  yes I did it like that and forgot to post the answer thanks !!!

[2022-03-30 18:54] marcosschroh commented on #123
Cool, good to know that it worked. I will improve the documentation with this. Thanks

[2022-04-08 13:39] marcosschroh commented on #113
closed by https://github.com/marcosschroh/python-schema-registry-client/pull/126

[2022-04-08 13:39] #113 closed

[2022-04-08 13:40] marcosschroh commented on #51
Not needed any more. With the `unittests` is good enough.

[2022-04-08 13:40] #51 closed

[2022-04-08 14:04] marcosschroh commented on #115
According to `httpx` this error happens when `Server closed without sending response.` In one of the latest versions of `httpx` a warning was added related to this and the `error message` was improved. Which `httpx` version are you using?

[2022-04-11 16:15] thiromi commented on #115
@marcosschroh I'm using `httpx==0.22.0`

[2022-04-22 14:08] marcosschroh commented on #123
I have added a new [Auth](https://marcosschroh.github.io/python-schema-registry-client/client/#auth) parameter to make it easier to provide `username` and `password`.

Closed by https://github.com/marcosschroh/python-schema-registry-client/pull/127.

[2022-04-22 14:08] #123 closed

[2022-04-23 13:44] marcosschroh commented on #108
Hi @Irate-Walrus

I am sorry for the delay. Your feature request makes sense.

     Because `Faust` was design with `1 topic --> 1 schema`

    Yes. I opened a [PR](https://github.com/robinhood/faust/pull/516) a long time ago to make everything `async`. Unfortunately `Faust` was not maintained any more. I am part of `faust-streaming`     but I do not have enough time to contribute.

 I think that

[2022-04-27 23:02] Irate-Walrus commented on #108
Hi @marcosschroh,
Thanks for spending the time to get back 🎉
It is a shame that `Faust` is no longer maintained, I was using `faust-streaming` but eventually moved on when I wanted rpc-like features and `async`.

Happy for this issue to be closed if you feel like this is not within the goals of this project 😊. Much appreciated.

[2022-04-28 10:02] marcosschroh commented on #108
In a `pythonic world`, using only the `AvroModel` will be enough because all the teams in your organization will use the same models but this is not always the case as teams can use different programming languages to talk to `kafka`. In this sense, you need a way to share metadata for events and you do it  using `kafka headers`.
As you correctly mentioned, `Confluent` has its own protocol with the

[2022-04-29 01:18] Irate-Walrus commented on #108
I concur, obviously you will still need to let the serializer know what class it will be serializing to/from but this can be independent of the actual pre-registered schema. It does raise the question of checks as to whether the schema actually matches the class representation of it. Although you could probably offload that to something like `pydantic`.

For `dataclasses-avroschemas` I approached

[2022-05-10 15:14] Robbie-Palmer opened #129 "Decode Schema ID / Schema"
I am building a streaming application designed to ingest messages of varying schemas and analyse a subset of their fields, based on information held within the schema

E.g. Any producer can publish a message to the topic this service consumes from (as long as the message is an avro message and its schema is registered in the shared Schema Registry), and this app will analyse all string fields and

[2022-05-18 08:08] marcosschroh commented on #87
Hi @xgamer4

Sorry for the delay. As you said it is not a bug.

When you mention the header, are you referring to the `kafka headers`? Because what I would like to do in the future version is adding the `schema-id` and the `serialization-type` in the kafka headers so no-confluent consumers will have more context about it. Ideally, I would like to have a more robust serializer that could interprete

[2022-05-19 09:24] marcosschroh opened #130 "Deprecate USER_INFO authentication"

[2022-05-19 09:24] marcosschroh opened #131 "Rename errors.py module to exception.py"

[2022-05-19 09:29] marcosschroh opened #132 "Create Event class to use with the serializer."
When `encode_record_with_schema_id` or `encode_record_with_schema` is called with `data/record`, these methods should return an `Event object` containing the `data/record`, the `payload` (the data encoded), the `schema_id` used to serialize the data and possible `kafka_headers` rather than the `payload encoded`.

We want to do this in order to provide more information to the user.

The same should

[2022-05-19 09:30] marcosschroh opened #133 "Rename serializer methods"
decode_message --> deserialize

 encode_record_with_schema_id --> serialize. Potentially, only 1 serialization method should be available that could receive either a schema_id or a Schema object.

[2022-05-19 09:31] marcosschroh opened #134 "Create a generic serializer"
Related to https://github.com/marcosschroh/python-schema-registry-client/issues/108

[2022-06-09 02:03] xgamer4 commented on #87
@marcosschroh
Oh man, 1.5 years and a new job later, it's been a bit. Let's see what I remember and where I was thinking about going with it.

So I think in the original comment I was referring specifically to the Apache Avro specification. [They define a container object that includes a header here](https://avro.apache.org/docs/current/spec.html#Object+Container+Files), and parts of that header c

[2022-07-30 01:12] gustavoDanielT opened #135 "I have json.decoder.JSONDecodeError error"
**Describe the bug**
I have with two first examples of readme of your project, i have this error **json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)**

**full error**

[code]
Process finished with exit code 1

My docker-compose is

[code]
**To Reproduce**
This code I'm running

[code]

or

[code]
Both codes generate the same error for me

*This's installed packages*

aiofiles

[2022-09-05 13:18] FuckingToasters opened #137 "Httpx Proxy Issue"

[2022-09-05 13:19] #137 closed